@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #d11200;
    --buttongreen: #038721;
    --light: #f8f9fa;
    --dark: #343a40;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.breadcrumb {
    background-color: transparent;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #333;
}
section{
    background-color: #edeff1;
}

section.container {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding-left: 90px;
    margin: 0;
    border-top: 1px  solid #ccc;
}
section.media-content
{
    background: #edeff1;
    
    
}
section.media-content .inner{
    background-color: var(--white);
    padding: 2.5rem 10rem 2.5rem 10rem;
    font-size: larger;
    
}